<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-button block color="positive" (click)="abreSite(imoveis)">Imóveis</button>
  <button ion-button block color="positive" (click)="abreSite(carro)">Carros</button>

</ion-content>
